.container {
  display: flex;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  position: fixed; /* Make sidebar overlay content without displacing it */
  height: 100%; /* Ensure it covers full height */
  top: 0; /* Align to top */
  z-index: 90; /* Ensure it's under the hamburger menu */
}

.sidebar.open {
  transform: translateX(0);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.hamburger-menu span {
  display: block;
  height: 3px;
  background-color: #333;
  width: 100%;
}

.content {
  width: 80%;
  background-color: #ffffff;
  padding: 20px;
  transition: margin-left 0.3s ease;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.hamburger-menu span {
  display: block;
  height: 3px;
  background-color: #333;
  width: 100%;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
}

.menu-item.active {
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2em;
}

.role {
  font-size: 1.5em;
}

.quote {
  font-style: italic;
  margin-top: 50px;
}

.author {
  display: block;
  text-align: right;
  margin-top: 20px;
}

.sidebar .menu-item .logout-link {
  background-color: #ff0000; /* Red background for the log out link */
  color: #ffffff; /* White text color for better readability */
  padding: 10px 15px; /* Add some padding to make it look like a button */
  border-radius: 5px; /* Optional: rounds the corners for a button-like appearance */
  text-decoration: none; /* Removes underline from the link */
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
  }
}