/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

/* Entire app container */
.app-container-journal {
  display: flex;
  min-height: 100vh;
}

/* Left column styles */
.left-column-journal {
  flex-basis: 30%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.journalist-label {
  font-size: 2rem;
  margin-bottom: 20px;
}

.new-entry-btn,
.logout-btn {
  display: block;
  width: 90%;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
}

/* Right column styles */
.right-column-journal {
  flex-basis: 70%;
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date-display-journal {
  align-self: flex-end;
  font-size: 1.2rem;
  color: #666;
}

.title-journal {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

.textarea_journal {
  width: 100%;
  height: 200px; /* Set a fixed height */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  resize: vertical; /* Allow only vertical resizing */
}

.settings-icon {
  align-self: flex-end;
  font-size: 1.5rem;
  cursor: pointer;
}

.journal-history {
  flex-grow: 1; /* Take up remaining space */
  overflow-y: auto; /* Enable scroll if content overflows */
  margin-top: 20px; /* Add some space above */
  padding: 10px;
  border: 1px solid #ddd; /* Add border for the container */
  border-radius: 4px; /* Rounded corners for the container */
}

.journal-entry {
  margin-bottom: 10px; /* Space between entries */
}

.journal-entry:last-child {
  margin-bottom: 0; /* Remove margin for the last entry */
}

.right-column-journal {
  flex-basis: 70%;
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.date-display-journal {
  align-self: flex-end;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px; /* Add margin between date and YouTube video */
}

/* Adjust the iframe width as needed */
iframe {
  width: 560px;
  height: 315px;
}


