.journal-history-page {
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif; /* Add fallback fonts */
  }
  
  .journal-entries {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  
  .journal-entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .journal-entry:hover {
    background-color: #f9f9f9;
  }
  @media (max-width: 600px) {
    .journal-entry {
      padding: 5px;
    }
  
    .journal-entry h3, .journal-entry h4 {
      font-size: smaller;
    }
  }
  
  /* Add more styling as needed */
  