/* LoginPage.css */
.journalist-color{
    color: #F74923;
  }
  
.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the space between the form and the SVG */
    font-family: 'Josefin Sans', sans-serif; /* Add fallback fonts */
    padding: 20px;
  }
  
  .login-form {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    font-family: 'Josefin Sans', sans-serif; /* Add fallback fonts */
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Josefin Sans', sans-serif; /* Add fallback fonts */
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-form .footer {
    text-align: center;
  }
  
  .login-form .forgot-password {
    display: block;
    margin-bottom: 15px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #F74923;
    color: white;
    cursor: pointer;
  }
  
  .login-form p {
    margin-top: 20px;
  }
  .svg-container {
    width: 100%; /* Use the full width to allow centering */
    display: flex; /* Make this a flex container */
    justify-content: center; /* Center children along the main axis */
  
  }
  .svg-container img {
    display: block; /* Allows margin: auto to work for centering */
    margin: auto; /* Centers the image within its container */  
    max-width: 70%;
    height: auto;
  }

  .settings-link-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Ensure the container spans the width of the sidebar */
  }
  
  .settings-text {
    position: absolute; /* or fixed, depending on layout */
    bottom: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    cursor: pointer;
    padding: 5px;
    font-size: 16px; /* Adjust the font size as you see fit */
    color: #000000; /* e.g., #4A90E2 for a blue text */
    width: 100%;
    /* Add more styling as needed */
  }
  
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column-reverse;
    }
    .login-form {
      width: 100%;
    }

    .svg-container {
      max-width: 70%; /* Adjust the size of the SVG in mobile view */
      margin-bottom: 20px; /* Add some space between the SVG and the form */
    }
  }
    
  /* Responsive styles */
  @media (max-width: 768px) {
    .login-form {
      width: 95%;
    }
  }
  
  @media (max-width: 480px) {
    .login-form {
      box-shadow: none;
      padding: 15px;
    }
  }
  